<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Página inicial Finhis</title>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
	<link rel="stylesheet" type="text/css" href="static/css/estilo.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->

</head>
<body>

<div class="container">
	<div class="col-l8 offset-l3">
		<form id="app" method="post">

			<div class="logo">
				<h1>Fh</h1>
			</div>

			<p class="title center-align">Financial Historic</p>
			<h4 class="call-action center-align">Sign in</h4>

			<p class="errors center-align" v-if="wrong_login">Credentials wrong.</p>

			<div class="input-group">
				<label>Username</label>
				<input type="text" name="username" v-model="username">
			</div>

			<div class="input-group">
				<label>Password</label>
				<input type="password" name="password" v-model="password">
			</div>

			<div class="submit-area">
				<input v-on:click.prevent="signin" type="submit" name="send" value="SIGNIN" class="btn-signup">
				<a href="index.html" class="btn-login">SIGNUP</a>
			</div>

		</form>
	</div>

</div>
	



<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>

<script type="text/javascript">
		
	app = new Vue({

		el:"#app",

		data: {
			username:"",
			password:"",
			wrong_login: false
		},

		methods : {
			signin : function(event){

				data = {"username":app.username,"password":app.password}

				axios.post("http://localhost:8000/api/token/",data)
					.then((response) => {
						
						localStorage.setItem("token",response.data.token);
						console.log(response.data);
						
						window.location = "movements.html";

					}).catch((error) => {

						app.wrong_login = !app.wrong_login;

						console.log(error.response.data);
					});

			}
		},

		mounted(){

			if ( localStorage.getItem("token") !== null ) {
				window.location = "movements.html";
			}
		}

	});

</script>

</body>
</html>